* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.containernav {
  border-top-style: solid;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.containermain {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.containercontacto {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.fuentenegrita {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.noliststyle {
  list-style: none;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.paddingcasas {
  padding-left: 35%;
}

.selfalign {
  align-self: center;
}

.containerfooter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.fontsizeredes {
  font-size: 2rem;
}

.marginfooter {
  margin-top: 52px;
}
